rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if request.auth != null;
    }
    match /requests/{requestId} {
      allow read, write: if request.auth != null;
      match /comments/{commentId} {
        allow read, write: if request.auth != null;
      }
      match /tasks/{taskId} {
        allow read, write: if request.auth != null;
      }
    }
    
    match /clients/{clientId}/vault/{vaultId} {
      allow read, write: if request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role in ['admin', 'employee'];
    }

    match /requestTemplates/{templateId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }
  }
}
